<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ronnie Nillo</title>
    <meta name="description" content="Frontend Web Developer">
    <meta name="author" content="Ronnie Nillo">
    <meta name="theme-color" content="#ebebeb"/>

    <!-- Bootstrap -->
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Gloria+Hallelujah" rel="stylesheet">
    <link href="https://use.fontawesome.com/e4972dadc8.css" media="all" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="manifest.json" rel="manifest">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WFLGTKFZ');</script>
  <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFLGTKFZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="vue-app">
        <section class="container-fluid hero" id="home">
            <div class="mode-wrap">
                <div class="talk"><div class="talk-btn">Press and say <span>"Dark mode"</span></div></div>
                <h3 class="content"></h3>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 no-gutter">
                <div class="hero-caption">
                    <div class="hero-caption__text">
                        <h1 class="text-uppercase" v-cloak>{{name}}</h1>
                        <p class="h4 text-uppercase" v-cloak>{{position}}</p>
                        <ul class="nav">
                            <li class="nav__list" v-for="navMenu in navMenus"><a :href="navMenu.linkTo" data-toggle="tooltip" v-bind:title="navMenu.title"><i :class="navMenu.font" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="hidden-xs col-sm-7 no-gutter">
                    <div class="hero-img" :style="{ 'background-image': 'url(' + hero + ')' }">
                        <div class="before"></div>
                    </div>
                </div>

            </div>
        </section>

        <section class="about align-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="" v-cloak>{{greeting}}</h2>
                        <p v-for="introduce in introduces" v-cloak>{{introduce}}</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="portfolio" id="works">
            <div class="container-fluid">
                <div class="container">
                    <h2 class="align-right" v-cloak>{{workTile}}</h2>
                </div>
                <div class="row grid" v-if="showMore">
                    <div v-for="card in cards.slice(0, 9)" class="card-grid col-xs-6 col-md-4 grid-item no-gutter">
                        <a :href="card.websiteurl" target="_blank" rel="noopener"> 
                            <div class="card" :style="{ 'background-image': 'url(' + card.cardImg + ')' }">
                                <div class="card__caption">
                                    <div class="card__caption_text">
                                        <h2 v-cloak>{{card.title}}</h2>
                                        <h4 v-cloak>{{card.subtitles}}</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row grid" v-else>
                    <div v-for="card in cards" class="card-grid col-xs-6 col-md-4 grid-item no-gutter">
                        <a :href="card.websiteurl" target="_blank"> 
                            <div class="card" :style="{ 'background-image': 'url(' + card.cardImg + ')' }">
                                <div class="card__caption">
                                    <div class="card__caption_text">
                                        <h2 v-cloak>{{card.title}}</h2>
                                        <h4 v-cloak>{{card.subtitles}}</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <h3 @click="showMore = false" class="text-center show-more">Show more</h3>
        </section>
        <footer class="align-center" id="contact">
            <div class="container">
                <h2 v-cloak>{{footerTitle}}</h2>

                <ul class="ul-social">
                    <li v-for="footerMenu in footerMenus">
                        <a :href="footerMenu.footerUrl" data-toggle="tooltip" v-bind:title="footerMenu.title">
                            <i :class="footerMenu.fontMenu" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <p v-cloak>{{copyRight}}</p>
            </div>
        </footer>  
    </div>
     

    <!-- jQuery  JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script>
        $(document).ready(function(){
          
            $('[data-toggle="tooltip"]').tooltip();
          
            var is_opera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
            var is_Edge = navigator.userAgent.indexOf("Edge") > -1;
            var is_chrome = !!window.chrome && !is_opera && !is_Edge;
            var is_explorer= typeof document !== 'undefined' && !!document.documentMode && !is_Edge;
            var is_firefox = typeof window.InstallTrigger !== 'undefined';
            var is_safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

            if (is_safari){
                $('.mode-wrap').hide();
                console.log('safari');
            }
            
            const btn = document.querySelector('.talk');
            const content = document.querySelector('.content');
            // default answer message
            const darkmode = ['dark mode'];
            const lightmode = ['light mode'];
            const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
            const recognition = new SpeechRecognition();
            recognition.onstart = function() {
                console.log('voice is activated, you can to microphoneee');
            };
            recognition.onresult = function(event){
                const current = event.resultIndex;
                const transcript = event.results[current][0].transcript;
                content.textContent = transcript;
                readOutLoud(transcript);
            };
            //add the listener to the btn
            btn.addEventListener('click', () => {
                recognition.start();
            });
            function readOutLoud(message) {
                const speech = new SpeechSynthesisUtterance();
                speech.text = 'i dont know what you said';
                if ($("body").hasClass('dark-mode')) {
                    if(message.includes('light')) {
                        const finalText = lightmode[Math.floor(Math.random() * lightmode.length)];
                        $("body").removeClass('dark-mode');
                        $(".hero-img .before").removeClass('dark-mode');
                        $(".talk-btn span").text(' "Dark mode" ');
                        speech.text = finalText;
                    }
                }else{
                    if(message.includes('dark')) {
                        const finalText = darkmode[Math.floor(Math.random() * darkmode.length)];
                        speech.text = finalText;
                        $("body").addClass('dark-mode');
                        $(".hero-img .before").addClass('dark-mode');
                        $(".talk-btn span").text(' "Light mode" ');
                    }
                }
                // speech.text = message;
                speech.volume = 1;
                speech.rate = 1;
                speech.picth = 1;
                window.speechSynthesis.speak(speech);
            }
        });
    </script>
  </body>
</html>
